html, body {
  margin: 0;
  padding: 0;
}
body {
  background-color: white;
  font-family: sans-serif;
  font-size: 100%;
}
header {
  /* background-color: rgb(210, 210, 210); */
}
h1 {
  font-size: 150%;
  font-weight: bold;
  color: rgb(0, 57, 89);
}
h2 {
  font-size: 125%;
  font-weight: bold;
  color: rgb(0, 88, 120);
  margin-block-end: 5px;
}
p {
  margin-block-start: 5px;
  margin-block-end: 5px;
}
.folder {
  font-weight: bold;
}
.comment {
  color: rgb(100, 100, 100);
  margin-block-start: 2px;
}

section {
  height: max-content;
}
section:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
}

.main {
  position: relative;
  width: 70%;
  padding: 0;
  background-color: rgb(210, 210, 210);
}
/* Image overlapping */
/* ----------------- */
.main img {
  display: block;
  width: 100%;
  height: auto;
  color: white
}
.main .streamswitch {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
}
/* ----------------- */

.side {
  width: 30%;
  height: border-box;
  overflow: hidden;
  /* padding: 0 0.5rem 0 0.5rem; */
  /* background-color: rgb(150, 150, 150); */
}
@media screen and (max-width: 512px) {
  .column {
    width: 100%;
  }
}

div.box {
  border: 2px;
  border-style: solid;
  border-color: rgb(80, 80, 80);
  margin: 2%;
}

input[type="number"] {
  width: 20%
}

label {
  display: inline-block;
  margin-right: .3rem;
  /* width: 80%; */
  /* text-align: right */
}

label:after {
  border-bottom: 2px dotted #6c6c6c;
  background-color: transparent;
}

fieldset {
  border-top-width: 0.2rem;
  border-left-width: 0.2rem;
  border-right-style: none;
  border-bottom-style: hidden;
  border-radius: 0.5rem;
  border-color: rgb(90, 180, 255);
  margin-bottom: 1rem;
}
legend {
  font-weight: bold;
  color: rgb(0, 88, 120);
}

ul {
  list-style: disc;
  overflow-x: hidden;
  padding: 0 1rem 0 1rem;
  margin-top: 0.3rem;
  margin-bottom: 1rem
}
.list {
  display: flex;
}
.start {
  flex-grow: 1;
  display: flex
}
.end {
  align-content: flex-end;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 1rem;
}
.start:after {
  content: '';
  position: relative;
  bottom: .5rem;
  border-bottom: 2px dotted #8c8c8c;
  flex-grow: 1;
}

/** streamswitch
-------------------------------------*/

  .streamswitch input {
    position: absolute;
    opacity: 0;
  }

  /**
   * 1. Adjust this to size
   */

  .streamswitch {
    position: relative;
    top: 5px;
    left: 5px;
    display: inline-block;
    font-size: 1.5rem; /* 1 */
    height: 1em;
    width: 2em;
    background: #BDB9A6;
    border-radius: 1rem;
  }
  /* div .streamswitch { */
  /* position: relative; */
  /* top: 1em; */
  /* left: 1em; */
  /* } */
  .streamswitch div {
    height: 1em;
    width: 1em;
    border-radius: 1em;
    background: #FFF;
    box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
  }

  .streamswitch input:checked + div {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
