<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Time Lapse</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tlindex.css') }}" media="all" type="text/css">
    <script type="text/javascript" src="{{ url_for('static', filename='js/tlform.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" media="all" type="text/css">
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>

    <header>
      <h1>Paramètres actuels</h1>
    </header>

    <section>

      <div class="column main">
        <img src="{{ url_for('last_pic') }}" alt="Dernière prise de vue">
      </div>

      </div class="column main">

      <div class="column side">
        <fieldset>
          <legend>Configuration de la caméra</legend>
          Intervale : {{ interval }}
          <!-- (id="interval", size=15, onload="convertToImgPerTime(value)") }} sec.<br> -->
          soit <span id="freq"></span><br>
          Résolution : {{ res }}
        </fieldset>

        <!-- <h2>Paramétrage de l'activité</h2> -->
        <fieldset>
          <legend>Paramétrage des horaires</legend>
          {% if ntp %}
          <p class="comment">Sans serveur de temps, l'option n'est pas active</p>

          <p>Jours de la semaine : {{ days }}</p>

          <!-- Choix des heures de début et de fin -->
          <label for="start">De :</label>
          {{ start }}

          <label for="stop">à :</label>
          {{ end }} <br>
          <small class="comment">Si "Début" = "Fin", la capture est faite en continu les jours sélectionnés.</small>
          {% else %}
          <p>Pas de serveur de temps accessible</p>
          {% endif %}
        </fieldset>
        <fieldset>
          <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <legend>Configurer le time lapse</legend>
            <!-- {{ form.path }}<br> -->
            {{ form.submit() }}
          </form>
        </fieldset>

      </div class="column side">

    </section>

  </body>
</html>
