<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Contrôle de la caméra</title>
    <link rel="stylesheet" href="../static/css/tlindex.css" media="all" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tlindex.css') }}" media="all" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>

    <header>
      <h1>Contrôle de la caméra</h1>
    </header>

    <section>

      <div class="column main">
        <center><img src="{{ url_for('video_feed') }}" alt="Vidéo en streaming ou dernière prise de vue" style="max-width: 100%; height: auto; color: white"></center>
      </div class="column main">

      <div class="column side">
        <h2>Fréquence de prise de vue:</h2>
        <form oninput="f.value=60/parseInt(interv.value)">
          Intervale : <input name="interv" type="number" value="10"> [secondes]<br>
          soit <output name="f" for="interv"></output> [img/min]<br>
        </form>

        <h2>Jours d'activité</h2>
        <p class="comment">Si tous ou aucun cochés, tous les jours sont activés</p>
          <form action="" method="post">
            <div class="box">
              <input name="all" type="checkbox" id="all">
              <label for="all">Jours de la semaine :</label>
              <ul style="list-style-type:none">
                <li> 
                  <input name="mon" type="checkbox" id="mon">
                  <label for="mon">Lundi</label>
                </li>
                <li>
                  <input name="tue" type="checkbox" id="tue">
                  <label for="tue">Mardi</label>
                </li>
                <li>
                  <input name="wed" type="checkbox" id="wed">
                  <label for="wed">Mercredi</label>
                </li>
                <li>
                  <input name="thu" type="checkbox" id="thu">
                  <label for="thu">Jeudi</label>
                </li>
                <li>
                  <input name="fri" type="checkbox" id="fri">
                  <label for="fri">Vendredi</label>
                </li>
                <li>
                  <input name="sat" type="checkbox" id="sat">
                  <label for="sat">Samedi</label>
                </li>
                <li>
                  <input name="sun" type="checkbox" id="sun">
                  <label for="sun">Dimanche</label>
                </li>
              </ul>
            </div>
          </form>

      </div class="column side">

    </section>
  </body>
</html>
